<!DOCTYPE html>
<html lang="en" class="bg-dark-subtle">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudMessenger.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
            background-color: #35383E;
            color: #DCDDDE;
        }
        .sidebar {
            width: 4.5rem;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #202125;
            z-index: 1000;
        }
        .navbar {
            position: fixed;
            width: 100%;
            height: 3rem;
            top: 0;
            z-index: 1100;
            background-color: #202125;
            color: #FFFF;
        }
        .content {
            flex-grow: 1;
            margin-left: 4.5rem;
        }
        .circle-link {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            background-color: #35393E;
            color: white;
            text-decoration: none;
        }
            .circle-link:hover {
                background-color: #2F3136;
            }

        .btnNewGuild {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            background-color: #35393E;
            color: white;
            text-decoration: none;
        }
        .colRight {
            background-color: #363942;
        }
        .colLeft {
            background-color: #303136;
        }
    </style>
</head>
<body>

    <!-- Header -->
    <nav class="navbar">
        <a class="navbar-brand" href="#">Cloud Messenger</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <span class="navbar-text d-flex justify-content-center align-items-center">
                <span class="mr-2 text-secondary">Daniel Peralba</span>
                <span class="mr-3 text-secondary">#3346</span>
                <div class="dropdown text-end">
                    <a href="#" class="d-block dropdown-toggle">
                        <img src="https://github.com/danielcperalba.png" alt="mdo" width="28" height="28" class="rounded-circle">
                        <span class="position-absolute top-100 start-100 mt-4 ml-4 translate-middle border border-dark p-2 bg-success rounded-circle"></span>
                    </a>
                </div>
            </span>
        </div>
    </nav>


    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column align-items-center">
        <ul class="nav nav-pills nav-flush flex-column mb-auto mt-4 py-5 text-center">
            <li class="nav-item">
                <a class="nav-link text-light circle-link" asp-area="" asp-controller="Home" asp-action="Index">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light circle-link" asp-area="" asp-controller="Home" asp-action="Friends">
                </a>
            </li>

            <div class="border-top border-secondary mt-3 mb-3"></div>

            <button type="button" class="btnNewGuild btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
                +
            </button>

            <li class="nav-item">
                <a class="nav-link text-light circle-link " asp-area="" asp-controller="Home" asp-action="Privacy">
                </a>
            </li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog d-flex align-items-center justify-content-center py-5">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row h-100">

                        <div class="col-md-6 colLeft col">
                            <!-- Conteúdo da coluna esquerda -->
                        </div>
                        <div class="col-md-6 colRight col">
                            <h5 class="modal-title" id="exampleModalLabel">Título do Modal</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Create</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="content">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
